*{
    /* font family and letter spacing to be used on the entire page */
    margin: 0;
    font-family: 'Medula One';
    letter-spacing: 0.073125em;
}

/* Displays and positions navigation bar container on top of page and sets its background image */
.navigation-bar {                                                               
    width:100%;
    height: 55px;
    display: block;
    background: url("../../Images/background.png");
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0.1) 1%, #ffc745 50%, rgba(0, 0, 0, 0.1) 100%) 
                100% 0 100% 0/3px 0 3px 0 stretch;
}

/* Displays logo and positions it correctly in naviagtion bar */
.navigation-bar img {           
    float:left;
    width: 55px;
    height: 55px;
}

/* Styling of game name */
.navigation-bar h1{                 
    color: #B99F65;
    display: inline-block;
    padding-top: 10px;
    padding-left: 20px;
}

/*  div found in navigation bar which will contain the text. Is centered */
.nav-main{                          
    list-style-type: none;
    display: inline-block;
    margin-left: 23vw;
}

/* Displaying in-line for better display. */
.nav-main-link,
.nav-main-link-selected{
    display: inline-block;      
    cursor: pointer;

} 

/* Styling the hyperlink text */
.nav-main-link a,
.nav-main-link-selected a{                     
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    text-decoration: none;
    padding: 0px 25px;
    display: inline-block;
}

/* SVG image which will be on both sides of hyperlink text to display which page user is currently on (active page)*/
.nav-main-link-selected a::before,
.nav-main-link-selected a::after{                                           
    background-image: url("../../Images/sub_nav_text_decorator.svg");
    content: '';
    height:13px;
    width:15px;
    display: inline-block;
}

/* hyperlink hover animation*/
.nav-main-link a:hover{                                                 
    color: rgba(255, 255, 255, 1.0)
}
.main-body{                                                         
    width: 100%;
    height:auto;
    background: url("../../Images/background.png");
}
.img-container{
    background-image: url("../../Images/logo_final.png");
    background-size: cover;
    display: block;
    height: 200px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
}
.main-body h1{
    color:#B99F65;
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
}
.cart-frame{
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.frame-name{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 700;
    color: #2F3841;
}
.action{
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}
.items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    width: 15%;
    text-align: center;
}
#deck-name{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-weight: 800;
    color: #202020;
}
#press-type{
    margin-top: 15px;
    line-height: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #909090;
}
.count-selector{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}
.count{
    font-size: 20px;
    font-weight: 900;
    color: #202020;
}
.prices{
    height: 100%;
    text-align: right;
}
.amount{
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 26px;
    font-weight: 800;
    color: #202020;
}
.remove{
    padding-top: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}
.pad{
	margin-top: 5px;
}
hr{
    width: 66%;
    float: right;
    margin-right: 5%;
}
.checkout{
    float: right;
    margin-right: 5%;
    width: 28%;
}
.total{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Subtotal{
    font-size: 26px;
    padding-bottom: 10px;
    font-weight: 700;
    color: #202020;
}
.items{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}
.total-amount{
    font-size: 36px;
    font-weight: 900;
    color: #202020;
}
.button{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: #ffa200;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #202020;
}