*{
    /* font family and letter spacing to be used on the entire page */
    margin: 0;
    font-family: 'Medula One';
    letter-spacing: 0.073125em;
}

/* Displays and positions navigation bar container on top of page and sets its background image */
.navigation-bar {                                                               
    width:100%;
    height: 55px;
    display: block;
    background: url("../../Images/background.png");
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0.1) 1%, #ffc745 50%, rgba(0, 0, 0, 0.1) 100%) 
                100% 0 100% 0/3px 0 3px 0 stretch;
}

/* Displays logo and positions it correctly in naviagtion bar */
.navigation-bar img {           
    float:left;
    width: 55px;
    height: 55px;
}

/* Styling of website name */
.navigation-bar h1{                 
    color: #B99F65;
    display: inline-block;
    padding-top: 10px;
    padding-left: 20px;
}

/*  div found in navigation bar which will contain the text. Is centered */
.nav-main{                          
    list-style-type: none;
    display: inline-block;
    margin-left: 23vw;
}

/* Displaying in-line for better display. */
.nav-main-link{                         
    display: inline-block;
    cursor: pointer;
}

/* Styling the hyperlink text */
.nav-main-link a{                               
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    text-decoration: none;
    padding: 0px 25px;
}

/* hyperlink hover animation*/
.nav-main-link a:hover{                         
    color: rgba(255, 255, 255, 1.0);
}

/* Setting size of the main-body class. Is used to display container for text-entry and button and text. Setting background to element*/
.main-body{                                                         
    width: 100%;
    height: 100%;
    background: url("../../Images/background.png");
}

/* Styling Text before container element */
.main-body h1 {                                 
    font-family: 'Medula One';
    letter-spacing: 0.073125em;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    display: block;
    color: #ffffff;
}

/* Displaying and styling the outer box*/
.box{
    position: relative;
    box-sizing: border-box;
    width: 600px;
    height: 505px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 5px;
    border: 2px solid #b78846;
    background: rgba(0,0,0,.5);
}

/* Aesthetic small box designs at 4 corners*/
.box::before {
    top: 5px;
    left: 5px;
}
.box::before {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #b78846;
    color: #b78846;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 14px;
    text-align: center;
    content: "•";
}

/* Displaying and styling the inner box before data entry fields*/
.inner-box{
    box-sizing: border-box;
    padding: 40px;
    border: 2px solid #b78846;
    height: 491px;
}

/* Aesthetic small box designs at 4 corners*/
.inner-box::before{
    bottom: 5px;
    left: 5px;
}
.inner-box::before{
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #b78846;
    color: #b78846;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 14px;
    text-align: center;
    content: "•";
}

/* Unordered list containing links to login and register pages. Inline for better display */
.auth-nav{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 40px;
    list-style: none;
}
.login,
.register{
    display: inline-block;
}
.auth-nav a{
    padding: 10px 20px;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    font-family: "brandon-grotesque",helvetica,arial,sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
.login{
    margin-left: 90px;
}

/* Underline design to show cuurently active page*/
.box a.active span{
    border-bottom: 2px solid #b78846;
}

/* div element containing text entry fields*/
.auth-box{
    margin-bottom: 0.5rem;
}

/* div element containing 1 specific data entry field*/
.col{
    width: 50%;
    margin-left: 0;
    float: left;
    box-sizing: border-box;
    padding: 0 0.5rem;
}

/* div element containing submit form button*/
.col-1{
    width: 100%;
    margin-left: 0;
    float: left;
    box-sizing: border-box;
    padding: 0 0.5rem;
}

/* Styling of input fields*/
#registration_form_firstname,
#registration_form_lastname,
#registration_form_username,
#registration_form_Address,
#registration_form_plainPassword{
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 20px;
    padding: 15px;
    border: 2px solid #7c7c7c;
    color: #d0d0d0;
    font-size: 18px;
    font-family: "brandon-grotesque",helvetica,arial,sans-serif;
    line-height: 26px;
    background: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

/* styling of submit button and animation*/
#registration_form_submit{
    width: 100%;
    padding: 20px;
}
.btn-gold{
    border: none;
    color: #fff;
    background: #b78846;
    opacity: 0.9;
    font-weight: 700;
    font-size: 14px;
    font-family: "brandon-grotesque",helvetica,arial,sans-serif;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: none;
}
.btn-gold:hover{
    color: #000;
    background: #fff;
    display: inline-block;
    box-sizing: border-box;
    padding: 12px 20px;
    border: 2px solid #fff;
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
    font-family: "brandon-grotesque",helvetica,arial,sans-serif;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: none;
    cursor: pointer;
    transition: background-color .4s;
    user-select: none;
    opacity: 1;
}

/* Aesthetic small box designs at 4 corners*/
.col::after,
.col-1::after{
    display: table;
    clear: both;
    content: "";
}
.inner-box::after{
    right: 5px;
    bottom: 5px;
}
.inner-box::after{
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #b78846;
    color: #b78846;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 14px;
    text-align: center;
    content: "•";
}
.box::after{
    top: 5px;
    right: 5px;
}
.box::after {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #b78846;
    color: #b78846;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 14px;
    text-align: center;
    content: "•";
}